Some opened string is not used in project and placed here just for example

// Bot is used to send notification when user booked order.
TELEGRAM_BOT_TOKEN=

// Used for Oauth via NextAuth. You can create new app and api keys here - https://console.cloud.google.com/apis/credentials
GOOGLE_ID=
GOOGLE_SECRET=


NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=m439aa14c08f9f1e44cf941f6f2al43d  //A random string is used to hash tokens, sign/encrypt cookies and generate cryptographic keys
// $ openssl rand -base64 32


// Must be connected because authorization depends on it
MONGODB_URI=
MONGODB_DB=

// Keys for photos uploading. Upload widget won't open without them.
NEXT_PUBLIC_CLOUDINARY_CLOUDNAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
NEXT_PUBLIC_CLOUDINARY_APISECRET=
