.booking_wrapper {
    margin-bottom: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.title {
    font-weight: 800;
font-size: 18px;}

.title_info {
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.time, .phone {
    background: rgb(255, 254, 167);
    padding: 3px 10px;
    border-radius: 20px;
}
.booking_details {
    display: flex;
    justify-content: space-between;
}

.date {
    margin: 0 10px;
    font-size: 14px;
}

.date_time {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.contacts {
    display: flex;
    align-items: center;
    width: 100%;
}

.name {
    margin: 0 10px;
}

.buttons {
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cancel {
    height: 30px;
    background: pink;
    border: none;
    border-radius: 5px;
}
.shift {
    height: 20px;
    background: rgb(211, 211, 211);
    border: none;
    border-radius:20px;
}
