.master_nav {
    /* margin-bottom: 10px; */
    position: absolute;
    top: 50px;
    right: 50px;
    background: #ffffff;
    border-radius: 10px;
    border: 2px solid rgb(194, 194, 194);
    

}

.nav_button {
    background: none;
   width: 200px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 20px 10px;
}

.menu_btn {
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    justify-content: center;
    border: 5px solid white;
    background: none;
}

.logo {
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_title{
    font-size: 18px;
}
.menu_hamburger{
    width: 40px;
    position: absolute;
    top: 13px;
    right: 0;
    z-index: -1;
}
.hamburger_line{
    display: block;
    height: 3px;
    width: 60px;
    margin-bottom: 7px;
    background-color: black;
    
}