.order_add {
  position: sticky;
  bottom: 0;
  transition: 0.5s;
  max-width: 150px;
  z-index: 1001;
}

.client_data {
  padding: 10px;
  background-color: #ebf5f9;
  border-radius: 10px;
}

.input_name,
.input_phone,
.input_service {
  width: 100%;
  border: 2px solid #78ceff;
  border-radius: 30px;
  margin-bottom: 5px;
  padding: 0 10px;
  height: 35px;
}

.order_buttons {
  display: flex;
  justify-content: space-between;
}
.submit_btn {
  border-radius: 10px;
  background-color: #b6ffbd;
  border: none;
  height: 35px;
  width: 100%;
}
.cancel_btn {
  border-radius: 10px;
  background-color: #d3d3d3;
  border: none;
  height: 35px;
  width: 100%;
}
.add_btn {
  border-radius: 10px;
  background-color: #feffb6;
  border: none;
  height: 45px;
  width: 70px;
  position: fixed;
  bottom: 10px;
  left: 5px;
}

.selectServ {
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 5px;
  height: 35px;
}

.daytime {
  display: flex;
}

.time,
.date {
  font-size: 14px;
  color: rgb(99, 99, 99);
  display: flex;
  align-items: center;
  padding: 0 7px;
  border-radius: 20px;
  background-color: rgb(238 238 238);
}


@media (min-width: 768px) {
  .order_add {

    max-width: 330px;
  }
  
}