.order_add {
  position: fixed;
  z-index: 101;
  left: 10px;
  bottom: 10px;
  transition: 0.5s;
}

.client_data {
  width: 290px;
  background-color: #ebf5f9;
  border-radius: 10px;
  padding: 10px;
  height: 180px;
}

.input_name,
.input_phone,
.input_service {
  width: 100%;
  border: 2px solid #78ceff;
  border-radius: 30px;
  margin-bottom: 5px;
  padding: 0 10px;
  height: 35px;
}

.submit_btn {
  border-radius: 10px;
  background-color: #b6ffbd;
  border: none;
  height: 45px;
  width: 80px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.cancel_btn {
  border-radius: 10px;
  background-color: #ffbfb6;
  border: none;
  height: 45px;
  width: 80px;
  position: absolute;
  right: 90px;
  bottom: 0;
}
.add_btn {
  border-radius: 10px;
  background-color: #feffb6;
  border: none;
  height: 45px;
  width: 80px;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.date,
.time {
  font-size: 14px;
  padding: 5px 0;
  color: rgb(99, 99, 99);
}

.selectServ {
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 5px;
  height: 35px;
}

.daytime {
  display: flex;
}

.time,
.date {
  display: flex;
  align-items: center;
  padding: 0 7px;
  /* margin-right: 5px; */
  border-radius: 20px;
  background-color: rgb(230, 254, 255);
}
