.wrapper {
    overflow-x: scroll;
    margin: 0;
    padding: 0;
  }
  
  .wrapper_category {
    display: flex;
    flex-wrap: nowrap;
    /* margin-bottom: 5px; */
    /* width:700px; */
    /* max-width:700px; */
    /* overflow-x: auto; */
    margin: 0;
    /* padding: 0; */
    /* height: 100px; */
  }
  
  /* .container_category:focus-within {
    color: white;
  } */
  
  /* .container_category::-webkit-scrollbar {
    display: none;
  } */
  .container_category {
    display: block;
    max-width: 300px;
    /* width: 85px; */

    position: relative;
    padding: 5px 0;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* height: var(--category-height); */
    margin: 5px;
    color: rgb(68, 68, 68);
  }
  
  .name_category {
    /* width: 85px; */
    position: relative;
    /* z-index: 100; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    white-space: nowrap;
  }
  
  /* Hide the browser's default checkbox */
  .container_category input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark_category {
    position: absolute;
    top: 0;
    left: 0;
    /* height:var(--category-height); */
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    /* border-radius: var(--category-border-radius); */
    border: 1px solid rgb(255, 255, 255);
  }
  
  /* On mouse-over, add a grey background color */
  .container_category:hover input ~ .checkmark_category {
    /* background-color: rgb(235, 235, 235); */
    /* border: 2px solid grey; */
  }
  
  /* When the checkbox is checked, add a blue background */
  .container_category input:checked ~ .checkmark_category {
    /* background-color: #E1F4FF; */
    border: 3px solid #78CEFF;
    height: 100%;
    border-radius: 8px;
  }
  
  
  @media (min-width: 400px) {
    .wrapper_category {
      width: 100%;
    flex-wrap: wrap;

    }
  }
  