.wrapper {
    position: relative;
    padding: 5px;
}

.setsettlement {
    position: absolute;
    top: 50px;
    right: 5px;
    width: 300px;
    background: #e7e7e7;
    z-index: 102;
    border-radius: 8px;
}

.city {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  
}

.city__title {
    margin-right: 10px;
}

.geolist, .settlement {
    padding: 0 10px;
}

.oblname {
    padding: 10px 0;
}

.settl_item {
    margin: 3px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: white;

}