.calendar_wrapper {
  position: relative;
}

.wrapper_month {
  display: flex;
  transition: 0.5s;
  overflow-x: auto;
}

.container_month::-webkit-scrollbar {
  display: none;
}
.container_month {
  display: block;
  position: relative;
  /* padding: 0 5px; */
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* height: var(--month-height); */
  margin: 3px;
  color: rgb(148, 148, 148);
}

.name_month {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_month input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark_month {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}

.container_month:hover input ~ .checkmark_month {
  /* background-color: rgb(235, 235, 235); */
  border: 2px solid grey;
}

.container_month input:checked ~ .checkmark_month {
  /* background-color: #7bc3ff; */
  border: 2px solid #a6eaff;
}

/* ------------- styles for days --------------------- */
.wrapper_day {
  display: flex;
  overflow-x: auto;
}

.container_day {
  display: block;
  position: relative;
  padding: 0 5px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 3px;
}
.container_day::-webkit-scrollbar {
  display: none;
}

.name_day {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33px;
}

.container_day input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark_day {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(230, 230, 230);
}

.container_day:hover input ~ .checkmark_day {
  border: 2px solid grey;
}

.container_day input:checked ~ .checkmark_day {
  border: 2px solid #2196f3;
}

.weekday {
  text-transform: capitalize;
}

.weekday_num {
  font-size: 12px;
  color: grey;
}

/* ------------- styles for time --------------------- */

.wrapper_time {
  display: grid;
  justify-items: end;
  margin-bottom: 15px;
  transition: 0.3s;
  position: relative;
}

.wrapper_time::-webkit-scrollbar {
  display: none;
}

.container_time {
  display: block;
  position: relative;
  padding: 0;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 20px;
  width: 50px;
  margin: 2px 4px;
}

.name_time {
  position: relative;
  z-index: 100;
  height: 20px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_time input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark_time {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 50px;
  background-color: rgb(245, 245, 245);
  border-radius: 7px;
}

.container_time:hover input ~ .checkmark_time {
  background-color: rgb(235, 235, 235);
  border: 2px solid grey;
}

.container_time input:checked ~ .checkmark_time {
  border: 2px solid #2196f3;
}

.showmore {
  border: none;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: #bce4ff;
  width: 130px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.years_wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: auto;
}
.years {
  border: none;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: #bce4ff;
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

.time_slot {
  position: relative;
}

.order_card {
  position: absolute;
  right: 60px;
  top: 0;
  min-width: 140px;
  background: #e9e9e9;
  padding: 5px;
  border-radius: 7px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: 0.5s;
}

.serv_name {
  line-height: 13px;
  color: grey;
}
.color_identificator {
  width: 4px;
  position: absolute;
  top: 0;
  right: 0px;
  border-radius: 7px;
}

.remove_btn,
.shift_btn {
  border: none;
  border-radius: 20px;
  height: 20px;
  width: 62px;
  background-color: rgb(243, 243, 243);
}

.calendar_wrapper {
  position: relative;
}

.monthDay {
  position: sticky;
  top: 60px;
  z-index: 101;
  background-color: white;
}

.edit_buttons {
  position: absolute;
  bottom: -5px;
}

.calendar_footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.today {
  position: absolute;
  top: 100px;
  left: 0;
  border: none;
  border-radius: 10px;
  height: 25px;
  width: 150px;
  background-color: rgb(162, 224, 248);
  z-index: 102;
}

.orders_quantity{
  position: absolute;
  top: -3px;
  right: -8px;
  background: #e7f8ff;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .order_card {
    min-width: 330px;
    transition: 0.5s;
  }

  .wrapper_day {
    justify-content: space-evenly;
  }
  .container_day {
    padding: 0;
    width: 100%;
  }

  .name_day {
    width: inherit;
  }
}

