.title_h2 {
    font-size: 22px;
    font-weight: 600;
    /* text-decoration: 2px underline var(--main-yellow-color); */
    margin: 0 0 40px;
  }
  

  .button {
    margin-top: 50px;
    height: 45px;
    border-radius: 45px;
    width: 200px;
    margin: 0;
    background-color: var(--submit-buttons-color);
    border: 0px;
  }
  