.title {
    font-size: 36px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}
.input {
  height: 45px;
  border-radius: 45px;
  color: var(--main-text-color);
  margin-bottom: 15px;
  border: 2px solid #4ECE72;
  padding-left: 15px;
}

.button {
  margin-top: 50px;
  height: 45px;
  border-radius: 45px;
  width: 140px;
  margin: 0 auto;
  background-color: var(--submit-buttons-color);
  border: 0px;
}
