.container {
    width: 100%;
}

.masterNav {
    margin-bottom: 20px;
}

.avatar_container {
    float: left;
    margin-right: 10px;
    width: 150px;
    height: 150px;
    display: block;
    position: relative;
    border-radius: 50%;
    transition: 1s;
}

.avatar_img {
    border-radius: 50%;
    transition: 1s;
}

.nav_button {
    height: 30px;
    background-color: #A6EAFF;
    border-radius: 5px;
    border: none;
    margin: 5px;
}
.nav_sub_button {
    height: 30px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid #b1b1b1;
    margin: 3px 2px;
}

.profile_nav {
    margin-bottom: 20px;
}
.submit_btn {
    height: 30px;
    background-color: var(--submit-buttons-color);
    border-radius: 5px;
    border: none;
    margin: 5px;
}

.input_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input_text {
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--light-border-color);

}

.label {
    color: var(--faded-text-color);
}