.input {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 35px;
  border: 0.15em solid currentColor;
  border-radius: 5px;
  transform: translateY(-0.075em);
}

.input::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  content: '';
  width: 102%;
  height: 10px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 2em 2em var(--main-blue);
  position: absolute;
  bottom: -1px;
  left: -1px;
  border-radius:10px;
}

.input:checked::before {
  transform: scale(1);
}

.wrapper {
  overflow-x: scroll;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.checkButton {
  display: flex;
  position: relative;
  margin: 5px;
}

.category {
  position: absolute;
  top: 0;
  height: 35px;
  padding: 7px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

@media (max-width: 500px) {
    .container {
        width: 900px;
        flex-wrap: wrap;
    }
}
