.serv_item {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(150px, 1fr) 60px 60px;
  background-color: #fff;
  color: #444;
  margin-bottom: 10px;
}

.input_serv,
.input_desc {
  background-color: rgb(231, 231, 231);
  color: #444;
  border-radius: 5px;
  border: none;
  padding: 5px;
}
.input_desc {
  height: 60px;
  width: 100%;
  max-width: 600px;
}

.form {
  position: relative;
}
.photo_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.photo_container {
  width: 75px;
  height: 80px;
  margin: 5px;
}

.photo_serv {
}

.btn_add {
  height: 40px;
  width: 100%;
  background-color: #C2FFD7;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  margin-bottom: 40px; font-weight: 600;
}
.btn_rem {
  height: 40px;
  width: 100%;
  background-color: #ffc2cf;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  margin-bottom: 50px;
}

.subtitle{
  font-size: 13px;
  font-weight: 600;
}

.spec{
  margin-bottom: 20px;
}
